@charset "UTF-8";
.main-body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  letter-spacing: 0.5px;
}

.second-body {
  margin: 0;
  padding: 0;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.content-header__cv {
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
  margin: 0;
  font-weight: 200;
  font-family: "Elms Sans", sans-serif;
}

.content-header__name1 {
  color: whitesmoke;
  padding: 10px 10px 10px 10px;
  margin: 30px 0 0 0;
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-align: left;
  padding-left: 8%;
}

.content-header__name2 {
  color: whitesmoke;
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
  font-size: 120px;
  text-align: center;
  padding-left: 0;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* důležité – video bude ZA textem */
  -o-object-fit: cover;
     object-fit: cover; /* vyplní celé okno bez deformace */
}

.content-header {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 320px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.content-header__text {
  padding-bottom: 50px;
}

.content-header__link {
  background-color: rgb(225, 187, 89);
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 1px;
  text-decoration: none;
  letter-spacing: 0.7px;
}

.lista {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: first baseline;
  margin-bottom: 0;
}
.lista__name {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  padding-left: 30px;
  font-size: 50px;
  margin-bottom: 5px;
}
.lista__back {
  padding-right: 30px;
}
.lista__link {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  background-image: url(/images/arrow-right-310628_640.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right;
  padding-right: 30px;
}

.menu {
  background-color: #081d69;
  margin: 0;
  background-attachment: fixed;
}
.menu__content {
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  align-items: center;
}
.menu__link-box {
  padding: 0 25px;
}
.menu__link {
  text-decoration: none;
  color: whitesmoke;
}

.mainbox {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 60px;
  margin: 30px;
  max-width: 1200px;
}

.contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact__infobox {
  text-align: center;
  line-height: 30px;
}
.contact__header {
  padding: 20px;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo__box {
  align-items: center;
  justify-content: center;
}
.photo__img {
  height: 400px;
}
.photo__img2 {
  width: 1000px;
}
.photo__header {
  color: rgb(163, 135, 66);
}

.table__box {
  padding-bottom: 25px;
}

.footer {
  background-color: #081d69;
}
.footer__text {
  margin: 0;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */