

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

h1 {color: black;}

 .background-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1; /* důležité – video bude ZA textem */
      object-fit: cover; /* vyplní celé okno bez deformace */
    }

 .content-header {
      position: relative;
      z-index: 1;
      text-align: center;
      top: 100px;
      transform: translateY(-50%);
    }