$font-secondary: "Josefin Sans", sans-serif;
$font-primary: "Elms Sans", sans-serif;

.main-body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing: 0.5px;
}

.second-body {
    
    margin: 0;
    padding: 0;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

   @media screen and (min-width: 600px) {
    
  
   }
  
}

.content-header__cv {
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
  margin: 0;
  font-weight: 200;
  font-family: $font-primary;

}

.content-header__name1 {
  color: whitesmoke;
  padding: 10px 10px 10px 10px;
  margin: 30px 0 0 0;
  font-weight: 200;
  font-family: $font-secondary;
  font-size: 30px;
  text-align: center;
  padding-right: 50%;
 
  @media screen and (min-width: 600px) {
    font-size: 60px;
    padding-left: 8%;
    text-align:left;
    padding-right: 0;
  }
 
}



.content-header__name2 {
   color: whitesmoke;
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  font-weight: 200;
  font-family: $font-secondary;
  font-size: 60px;
  text-align: center;
  padding-left: 0;

  @media screen and (min-width: 600px) {
    font-size: 120px;
  }
  
}

 .background-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1; /* důležité – video bude ZA textem */
      object-fit: cover; /* vyplní celé okno bez deformace */
    }

 .content-header {
      position: relative;
      z-index: 1;
      text-align: center;
     top: 200px;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;
      width: 350px;
      margin-left: auto;
      margin-right: auto;


      &__text {
        padding-bottom: 50px;
      }

     @media screen and (min-width: 600px) {
      height: 600px;
      width: 700px;
       top: 320px;
  }

 }
  
 

  .content-header__link {
    background-color:rgb(225, 187, 89);
  
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 1px;
    text-decoration: none;
    letter-spacing: 0.7px;
   

    
  }

  //obsah zivotopisu

  .lista {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: first baseline;
    margin-bottom: 0;

    &__name {
      color: black;
      font-family: $font-secondary;
      font-weight: 200;
      padding-left: 30px;
      font-size: 50px;
      margin-bottom: 5px;
    }

    &__back {
  
    padding-right: 30px;
    
    }

    &__link {
      color: black;
      font-family: $font-secondary;
      font-weight: 300;
      text-decoration: none;
      font-size: 20px;
      background-image: url(/images/arrow-right-310628_640.png);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: right;
      padding-right: 30px;
   
    }

  }

  .menu {
    background-color: #081d69;
    margin: 0;
    background-attachment: fixed;
  

  &__content {
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    align-items: center;

  }

  &__link-box {
    padding: 0 25px;
  }

  &__link {
    text-decoration: none;
    color: whitesmoke;
  }
  }

  //prvni grid

  .mainbox {
    padding: 0 20px;
    max-width: 600px;
    margin: 30px auto;
    
   

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    
    max-width: 1000px;
  }

  @media screen and (min-width: 900px) {
    max-width: 1200px;
    gap: 40px
  }
    
    
  } 
  

  .contact {
    display: flex;
   
    flex-direction: column;
    justify-content: center;

  @media screen and (min-width: 600px) {
  justify-content: flex-start;
  
  }
   

  &__infobox {
    text-align: center;
    line-height: 30px;
  }

  &__header {
    padding: 20px;
  }
    
  }

  .photo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  

    &__box {
   align-items: center;
   justify-content: center;
    }


    &__img {
      height: 400px;
    }

    &__img2 {
      width: 400px;
      
    @media screen and (min-width: 600px) {
    width: 550px;
    }

    @media screen and (min-width: 800px) {
      width: 700px;
    }

     @media screen and (min-width: 1100px) {
      width: 1000px;
     }
      
    }

    &__header {
      color:  rgb(163, 135, 66);
    }

    &__caption {
      margin: 20px;
      font-size: 18px;
      text-align: center;
      font-weight: 500px;
      
    }
  }

  //praxe
  

  .table {
      

    &__box {
        padding-bottom: 25px;
      }
    }
  
    .knowledge {
      @media screen and (min-width: 600px) {
        grid-column: 1/3;
        margin: 0 auto;
      }

       @media screen and (min-width: 1000px) {
        grid-column: 1/2;
        margin: 0;
       }
       
    }

  .interests {
    &__img1{
      float: right;
      width: 200px;
      padding-left: 20px;

      @media screen and (min-width: 600px) {
        padding: 0 20px;
      }
   
    }

    &__img2 {
      float: left;
      height: 250px;
      padding-right: 20px;
    }

   @media screen and (min-width: 600px) {
    grid-column:1/3 ;
   }

   @media screen and (min-width: 1000px) {
        grid-column: 2/3;
       }
  }

  .mywork {
     @media screen and (min-width: 600px) {
        grid-column: 1/3;
  }
}

  //paticka

  .footer {
    background-color: #081d69;

    &__text {
      margin: 0;
      color: whitesmoke;
      text-align: center;
      padding: 10px;
    }
  }



